{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}

 <!-- Login Page -->

<div>
    <form method="POST" action="">
        {% csrf_token %} 
        <label>Username: </label>
        <input type="text" name="username" placeholder="Enter username"> 
        
        <label>Password: </label>
        <input type="password" name="password" placeholder="Enter password"> 

        <input type = "submit" value="Submit"/>
    </form>
    <p>
        Haven't registerd yet ?
    </p>
    <a href="{% url 'register' %}">Sign up</a>
</div>

{% else %}

<!-- Register page -->

<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register"/>
    </form>
    <p>
        Already signed up?
    </p>
    <a href="{% url 'login' %}">Log In</a>
</div>

{% endif%}

{% endblock content%}